// https://scotch.io/tutorials/using-sass-with-the-angular-cli
@import './variables';
@import './mixins';

// Material css that overrides
@import './material.scss';

@import './media_queries.scss';
@import './custom_components.scss';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;

    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 48px 96px;
    max-width: 1600px; 
    margin: auto;
}

// FLEX STYLING
.flex-h {
    display: flex;
    justify-content: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.spacer-s {
    margin: 24px 0;
}

.uppercase {
    text-transform: uppercase;
}

.hv-center {
    height: max-content;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.anchor-button {
    cursor: pointer;
    color: $primary-color; 
    display: inline-block;
    line-height: 24px;
    padding: 6px 0;
    position: relative;
    text-decoration: none;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.anchor-button:active::before{
    background: rgba(66,133,244,.26);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    bottom: 0px;
    content: '';
    left: -16px;
    position: absolute;
    right: -16px;
    top: 0px;
}
