<div class="entry-container">

  <div class="container card-container hv-center">
  
    <mat-card class="entry-card">
      <mat-progress-bar class="entry-progress-bar" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      
      <mat-card-header>
        <mat-card-title>
          <h2>MEAN CRUD App</h2>
        </mat-card-title>
        <mat-card-subtitle>
          {{ selectedIndex === 0 ? 'Login here to see it in action' : 'Register here to create an account'}}
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="selectedTabChange()" (animationDone)="tabAnimationDone()">
          <mat-tab label="Login">
            <form [formGroup]="entryForm" (ngSubmit)="submit()" #_form1="ngForm">
              <div *ngIf="error" class="panel panel-danger">{{ error }}</div>
              
              <mat-form-field class="full-width">
                <input formControlName="username" type="text" matInput placeholder="Username" [errorStateMatcher]="matcher" #_username> 
                
                <!-- Synchronous Errors -->
                <mat-error *ngIf="username.errors?.required"> Username is required. </mat-error>
                <mat-error *ngIf="username.errors?.minlength"> Username must be at least 6 characters. </mat-error>
                <mat-error *ngIf="username.errors?.maxlength"> Username must not be greater than 50 characters. </mat-error>

                <!-- Error fetched from a server -->
                <mat-error *ngIf="username.errors?.customError">
                  {{ username.errors?.customError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" [errorStateMatcher]="matcher">
                <button type="button" *ngIf="password && password?.length !== 0" mat-button matSuffix mat-icon-button aria-label="Show/Hide Password" (click)="hidePassword = !hidePassword" [matTooltip]="hidePassword ? 'Show':'Hide'">
                  <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>

                <!-- Synchronous Errors -->
                <mat-error *ngIf="password.errors?.required"> Password is required.</mat-error>
                <mat-error *ngIf="password.errors?.minlength"> Password must be at least 6 characters.</mat-error>

                <!-- Error fetched from a server -->
                <mat-error *ngIf="password.errors?.customError">
                  {{ password.errors?.customError }}
                </mat-error>
              </mat-form-field>
                
              <div class="spacer-s flex-between">
                <span (click)="selectedIndex=1" class="anchor-button">Create account</span>
                <button type="submit" class="uppercase" mat-raised-button color="primary">Login</button>
              </div>
            </form>
          </mat-tab>
  
          <mat-tab label="Register">
            <form [formGroup]="entryForm" (ngSubmit)="submit()" #_form2="ngForm">
              <div *ngIf="error" class="panel panel-danger">{{ error }}</div>

              <mat-form-field class="full-width">
                <input formControlName="name" type="text" matInput placeholder="Name" [errorStateMatcher]="matcher" #_name> 
                
                <!-- Synchronous Errors -->
                <mat-error *ngIf="name.errors?.required"> Name is required. </mat-error>
                <mat-error *ngIf="name.errors?.minlength"> Name must be at least 10 characters. </mat-error>
                <mat-error *ngIf="name.errors?.maxlength"> Name must not be greater than 50 characters. </mat-error>

                <!-- Error fetched from a server -->
                <mat-error *ngIf="name.errors?.customError">
                  {{ name.errors?.customError }}
                </mat-error>
              </mat-form-field>
              
              <mat-form-field class="full-width">
                <input formControlName="username" type="text" matInput placeholder="Username" [errorStateMatcher]="matcher" #_username> 
                
                <!-- Synchronous Errors -->
                <mat-error *ngIf="username.errors?.required"> Username is required. </mat-error>
                <mat-error *ngIf="username.errors?.minlength"> Username must be at least 6 characters. </mat-error>
                <mat-error *ngIf="username.errors?.maxlength"> Username must not be greater than 50 characters. </mat-error>

                <!-- Error fetched from a server -->
                <mat-error *ngIf="username.errors?.customError">
                  {{ username.errors?.customError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" [errorStateMatcher]="matcher">
                <button type="button" *ngIf="password && password?.length !== 0" mat-button matSuffix mat-icon-button aria-label="Show/Hide Password" (click)="hidePassword = !hidePassword" [matTooltip]="hidePassword ? 'Show':'Hide'">
                  <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>

                <!-- Synchronous Errors -->
                <mat-error *ngIf="password.errors?.required"> Password is required.</mat-error>
                <mat-error *ngIf="password.errors?.minlength"> Password must be at least 6 characters.</mat-error>

                <!-- Error fetched from a server -->
                <mat-error *ngIf="password.errors?.customError">
                  {{ password.errors?.customError }}
                </mat-error>
              </mat-form-field>
                
              <div class="spacer-s flex-between">
                <a (click)="selectedIndex=0" class="anchor-button">Login instead?</a>
                <button type="submit" class="uppercase" mat-raised-button color="primary"> Register </button>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
    </mat-card>
  
    <div class="footer">Made with &#10084; by Jonathan Mayol</div>
  </div>

</div>
