<div class="entry-container">

  <div class="container card-container hv-center">
  
    <mat-card class="entry-card">
      <mat-progress-bar class="entry-progress-bar" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      
      <mat-card-header>
        <mat-card-title>
          <h2>MEAN CRUD App</h2>
        </mat-card-title>
        <mat-card-subtitle>
          {{ selectedIndex === 0 ? 'Login here to see it in action' : 'Register here to create an account'}}
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content class="entry-form">
        
        <mat-tab-group [(selectedIndex)]="selectedIndex" (animationDone)="tabAnimationDone()">
          <mat-tab label="Login">
            <form (ngSubmit)="submit()" #entryForm="ngForm">
              <mat-form-field class="full-width">
                <input [(ngModel)]="user.username" name="username" type="text" matInput placeholder="Username" #username>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input [(ngModel)]="user.password" name="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password">
                <button type="button" *ngIf="user.password && user.password?.length !== 0" mat-button matSuffix mat-icon-button aria-label="Show/Hide Password" (click)="hidePassword = !hidePassword" [matTooltip]="hidePassword ? 'Show':'Hide'">
                  <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
              </mat-form-field>
                
              <div class="spacer-s flex-between">
                <span (click)="selectedIndex=1" class="anchor-button">Create account</span>
                <button type="submit" class="uppercase" mat-raised-button color="primary">Login</button>
              </div>
            </form>
          </mat-tab>
  
          <mat-tab label="Register">
            <form (ngSubmit)="submit()" #entryForm="ngForm">
              <mat-form-field class="full-width">
                <input [(ngModel)]="user.name" name="name" type="text" matInput placeholder="Name" #name>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input [(ngModel)]="user.username" name="username" type="text" matInput placeholder="Username">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input [(ngModel)]="user.password" name="password" [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password">
                <button type="button" *ngIf="user.password && user.password?.length !== 0" mat-button matSuffix mat-icon-button aria-label="Show/Hide Password" (click)="hidePassword = !hidePassword" [matTooltip]="hidePassword ? 'Show':'Hide'">
                  <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
              </mat-form-field>
      
              <div class="spacer-s flex-between">
                <a (click)="selectedIndex=0" class="anchor-button">Login instead?</a>
                <button type="submit" class="uppercase" mat-raised-button color="primary"> Register </button>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
    </mat-card>
  
    <div class="footer">Made with &#10084; by Jonathan Mayol</div>

  </div>

</div>
